@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 1px;
}


html, body {
    font-family: "Roboto", sans-serif !important;
}

.submenu .submenu li {
    display: block;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .primary-footer {
        padding: 10px 0 30px 0 !important;
    }

    .logo-footer {
        text-align: center;
    }

    section.copyright p {
        text-align: center !important;
    }

    section.copyright .links {
        text-align: center !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1170px) {
    section.copyright p {
        text-align: left !important;
    }

    section.copyright .links {
        text-align: right !important;
    }

    .container1 {
        padding: 10px 0 !important;
    }
}

.container_item_imagem {
    background-size: cover;
}

.header-bar {
    background-color: #DDD;
    color: #FFF;
    height: 40px;
    padding: 0px 1rem;
}

.header-responsive {
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 9999999999;
}

.button-collapse-menu {
    background: none;
    border: 1px solid #E1E1E1;
    padding: 8px 12px;
    border-radius: 4px;
    margin-top: 10px;
    color: #5A5A5A;
}

    .button-collapse-menu:focus {
        outline: none;
    }

@media screen and (min-width:992px) {
    .header-2 > .row {
        display: flex;
        align-items: center;
    }
}

.logo-container {
    text-align: center;
    padding: 25px;
}

.menu {
    width: 100%;
}

    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

        .menu ul li:not(.div_edicao_menu) {
            font-weight: 300;
            font-size: 18px;
            margin: 0px 20px;
        }

        .menu ul li a {
            color: #444;
            text-transform: uppercase;
            font-size: 0.60em;
            font-weight: 400;
            letter-spacing: 2px;
        }

            .menu ul li a:hover {
                color: #0094de;
                text-decoration: none !important;
            }

    .menu > ul > li:hover > .submenu {
        visibility: visible;
        transition: all 0.25s ease;
        opacity: 1;
    }

    .menu > ul > li > .submenu {
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        z-index: 999;
        background: rgba(0, 0, 0, 0.9);
        line-height: 40px;
        width: 300px;
        margin-top: 20px;
        transition: all 0.25s ease-in;
        visibility: hidden;
        opacity: 0;
    }

        .menu > ul > li > .submenu > li {
            text-align: left !important;
            margin-left: 0 !important;
            line-height: 15px !important;
            font-weight: 300 !important;
            padding: 15px 20px !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
            width: 100%;
        }

            .menu > ul > li > .submenu > li a {
                color: #FFF !important;
            }

                .menu > ul > li > .submenu > li a:hover {
                    color: #CCC !important;
                }

            .menu > ul > li > .submenu > li:last-child {
                border-bottom: none !important;
            }

.menu-horizontal {
    height: 150px !important;
}

    .menu-horizontal ul {
        padding: 9% 0;
        float: right;
    }

        .menu-horizontal ul li {
            margin-left: 25px !important;
        }

    .menu-horizontal > ul > li > .submenu {
        margin-top: 10px !important;
    }

.logo-mobile {
    padding: 20px 0;
    display: flex;
}

    .logo-mobile > a {
        margin: auto;
    }

        .logo-mobile > a > img {
            max-height: 100px;
            width: auto;
            max-width: 100%;
        }

.collapse-menu {
    position: fixed;
    z-index: 999999999;
    background-color: #FFF;
    width: 75%;
    height: 100%;
    left: -80%;
    top: 0;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: scroll;
}

.logo-collapse-menu {
    margin-top: 85px;
    max-width: 80% !important;
    max-height: 100px;
}

.menu-collapse {
    list-style: none;
    padding: 20px 30px;
    margin: 0;
}

    .menu-collapse li {
        text-align: left !important;
        min-height: 45px;
        line-height: 45px;
        border-bottom: 1px solid #EAEAEA;
        font-size: 14px;
    }

        .menu-collapse li a {
            color: #2d2d2d;
        }

            .menu-collapse li a:hover {
                text-decoration: none;
            }

        .menu-collapse li > .submenu {
            list-style: none;
            margin: 0;
            padding: 0 0 0 10px;
            display: none;
        }

            .menu-collapse li > .submenu > li {
                border-bottom: none;
                border-top: 1px solid #EAEAEA;
            }

.container1 {
    padding: 60px 0 !important;
}

.container2 {
    background: #f9f9f9;
    padding: 50px 0;
}

    .container2 h1 {
        font-size: 32px;
        font-weight: 300;
        text-align: center;
    }

        .container2 h1::after {
            content: '';
            width: 6%;
            height: 3px;
            background-color: rgba(0, 0, 0, 0.08);
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 10px;
        }

.map {
    height: 400px !important;
}

.primary-footer {
    padding: 30px 0px 30px 0;
    margin-top: 0px;
}

    .primary-footer h3 {
        font-weight: 900 !important;
        border-bottom: 1px solid #EEE;
        padding-bottom: 10px;
    }

        .primary-footer h3::after {
            content: '';
            height: 1px;
            background: #000;
            display: block;
            width: 15%;
            margin-top: 9px;
            position: absolute;
        }

    .primary-footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .primary-footer .contacts li {
        line-height: 35px;
    }

    .primary-footer .social li {
        display: inline-block;
        padding: 10px 15px;
        background-color: #EAEAEA;
    }

        .primary-footer .social li a .fa-whatsapp {
            color: #000 !important;
        }

        .primary-footer .social li a:hover, .primary-footer .social li a:hover .fa-whatsapp {
            background-color: #444;
            color: #FFF !important;
        }

        .primary-footer .social li a {
            color: #2d2d2d !important;
        }

.social {
    float: left;
}

    .social.google {
        background-color: #f44336;
    }

    .social.facebook {
        background-color: #3b5998;
    }

    .social.instagram {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    }

    .social.youtube {
        background-color: #f44336;
    }

    .social.linkedin {
        background-color: #007bb5;
    }

    .social.twitter {
        background-color: #55ACEE;
    }

    .social.whatsapp {
        background-color: #1ad13f;
    }

        .social.whatsapp i {
            color: white !important;
        }

    .social.skype {
        background-color: #00aff0;
    }

.newsletter p {
    text-align: justify;
    font-size: 0.85em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.newsletter input[type='text'] {
    width: 70%;
    height: 40px !important;
    padding: 0 10px;
    float: left;
    border: 1px solid #DCDCDC !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

    .newsletter input[type='text']:focus {
        outline: none;
    }

.btn-newsletter {
    width: 30% !important;
    height: 40px !important;
    float: left;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: #2d2d2d;
    color: #FFF;
    font-weight: bold;
}

.btn-newsletter {
    color: #FFF !important;
}

    .btn-newsletter:focus {
        outline: none !important;
    }

.logo-footer {
    height: 200px;
    text-align: center;
}

    .logo-footer img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 100% !important;
    }

section.copyright {
    width: 100%;
    min-height: 35px;
    background-color: #2d2d2d;
    color: #FFF;
    padding: 15px 0;
    margin-top: 0px;
}

    section.copyright p {
        font-size: 13px;
        opacity: 0.9;
        margin: 3px;
    }

    section.copyright .links {
        text-align: right;
    }

.copyright p {
    margin: 0;
    text-align: center;
}

.copyright a {
    color: inherit;
    transition: 0.3s;
    text-decoration: none;
}

    .copyright a.access {
        opacity: 0.6;
    }

        .copyright a.access:hover {
            opacity: 1;
        }

.links a {
    color: #FFF !important;
    opacity: 0.5 !important;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    margin-left: 5px;
}

    .links a:hover {
        opacity: 1 !important;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
    }

.logo_c2ti {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    opacity: 1 !important;
}

header.header-page {
    background-color: #2d2d2d;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
}

    header.header-page h1 {
        font-size: 48px;
        font-weight: 300;
    }

main.content-page > .container {
    border-bottom: 1px solid #EAEAEA !important;
    padding-top: 50px;
    padding-bottom: 70px;
}

.breadcrumb {
    background-color: transparent !important;
    margin-top: -20px;
}

    .breadcrumb li {
        margin: 0 5px;
    }

        .breadcrumb li a {
            color: #FFF;
        }

            .breadcrumb li a:hover {
                color: #FFF !important;
                text-decoration: none;
            }

        .breadcrumb li:last-child a {
            color: rgba(255, 255, 255, 0.5) !important;
        }

.hvr-float-shadow:before {
    background: -webkit-radial-gradient(center,ellipse,rgba(0,0,0,.15) 0,rgba(0,0,0,0) 40%) !important;
    background: radial-gradient(ellipse at center,rgba(0,0,0,.10) 0,rgba(0,0,0,0) 40%) !important;
}

#apresentacaoSiteM2 {
    height: 650px;
}

#apresentacaoSiteM2 {
    overflow: hidden;
    display: flex;
    position: relative;
}

    #apresentacaoSiteM2 .carousel,
    #apresentacaoSiteM2 .carousel-inner,
    #apresentacaoSiteM2 .carousel-item,
    #apresentacaoSiteM2 .img_slid {
        height: 100%;
        width: 100%;
    }

.slideHome {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SobreSlide {
    width: 100%;
}

.conteudoSobreSlide {
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    padding-top: 0px;
}

.footer-title {
    font-weight: 700;
    font-size: 20px;
    position: relative;
    padding-bottom: 3px;
}

.footer-details .footer-txt {
    font-size: 12px;
}

p.footer-title:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px dotted;
    opacity: 0.1;
}

p.footer-title:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 50px;
    border-bottom: 3px solid;
}

.redeSocial .itenSocial a {
    width: 40px !important;
    height: 40px !important;
    text-decoration: inherit;
    font-size: 19px;
    border-radius: 50%;
    transform: .2s ease all;
}

    .redeSocial .itenSocial a:hover {
        transform: scale(1.05);
    }

.footer-txt > p {
    margin: 0px !important;
}
.traducao:hover .menu-linguagem {
    display: block;
}